body {
    background-color: black;
    background-image: url('/images/cat-violence.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    color: white;
    min-width: 320px;
/*    height: 100vh;
    overflow: hidden;
*/}

.centered {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    overflow-y: auto;
}

h1 {
    margin: 0;
}

.title {
    margin-top: 6vh;
    font-size: 10vw;
    font-weight: bold;
    font-family: sans-serif;
}

.links {
    margin-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.links a {
    font-size: 30px;
    color: white;
    display: block;
    margin: 0 60px;
    margin-top: 4vh;
}

.links a:hover {
    text-decoration: none;
}

.player {
    margin-top: 4vh;
}

.player iframe {
    width: 90vw;
    max-width: 400px;
    min-height: 208px;
    border: 0;
    min-width: 300px;
}

.form {
    margin-top: 40px;
    width: 400px;
}

.form #mlb2-27362282.ml-form-embedContainer .ml-form-embedWrapper {
    background-color: rgba(246, 246, 246, 0.2);
}


/* Media query for screens smaller than 800px */
@media (max-width: 1030px) {
    .title {
        font-size: 8vw;
        margin-top: 6vh;
    }

    .links a {
        font-size: 25px;
        margin: 0 30px;
        margin-top: 4vh;
    }
}

@media (max-width: 700px) {
    .links a {
        font-size: 6vw;
    }
}

/* Media query for screens smaller than 450px */
@media (max-width: 450px) {
    .title {
        font-size: 50px;
        margin-top: 0;
    }

    .player {
        margin-top: 4vh;
    }

    .links {
        flex-direction: column;
    }

    .links a {
        font-size: 20px;
        margin: 10px 0;
        margin-top: 2vh;
    }

    .form {
        width: 90vw;
        min-width: 300px;
    }
}